db/*.sqlite3
config/database.yml
config/ferret_server.yml
config/gmaps_api_key.yml
db/sphinx/*
index/development
coverage/*
log/*
tmp/**/*
doc/app
doc/api
*.swp
.DS_Store
db/schema.rb
*patch
.svn
public/photos
*.zip
SR*
db/data/*.csv
